{% extends 'admin/master.html' %}

{% block body %}
<style>
table, th, td {
  border: 2px solid black;
}
</style>

<p id="poc_demo"></p>

<script>
function myFunction(deviceID, CreatedDate, deviceOS) {
  var msg;
  var reply = prompt("Please enter reason for resolving: ", "");
  if (reply == null || reply == "") {
    msg = "User provided no explanation. Cancelling request for id: '" + deviceID + "'";
  } else {
	  msg = "Created Date "+ CreatedDate + " device os is " + deviceOS + " Reason for resolving device " + deviceID + " is: '"+ reply + "'";

  }
  document.getElementById("poc_demo").innerHTML = msg;
}

</script>

{% for wallet in wallets %}
<div class="col-lg-12">
    <strong>Address: {{wallet.address}}</strong>
    <ul>
	<table>
	  <tr>
	    <th> id </th>
            <th> Created Date </th>
	    <th> Device OS </th>
	    <th> Device OS Version </th>
	    <th> Device Manufacturer</th>
	    <th> Brand</th>
	    <th> Device ID</th>
	    <th> Zap App Version</th>
	  </tr>
          {% for device in wallet.devices %}
          <tr>
            <td>{{device.id}}</td>
            <td>{{device.date}}</td>
            <td>{{device.os}}</td>
	    <td>{{device.os_version}}</td>
	    <td>{{device.manufacturer}}</td>
            <td>{{device.brand}}</td>
            <td>{{device.device_id}}</td>
            <td>{{device.app_version}}</td>
	    <td><button type="button" onclick="myFunction('{{device.id}}','{{device.date}}','{{device.os}}')">Resolution</button></td>
	  </tr>
          {% endfor %}
	</table>
    </ul>
</div>

{% endfor %}
{% endblock %}
